USE [master]
GO
/****** Object:  Database [QL_NhaThuoc]    Script Date: 22/08/2025 2:25:28 CH ******/
CREATE DATABASE [QL_NhaThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_NhaThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NhaThuoc.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QL_NhaThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QL_NhaThuoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_NhaThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_NhaThuoc]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NULL,
	[MaSP] [varchar](20) NULL,
	[SLBan] [int] NULL,
	[ThanhTien] [decimal](15, 0) NULL,
	[TenKH] [nvarchar](100) NULL,
	[SDTKH] [varchar](20) NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangHuy]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHuy](
	[MaHangHuy] [varchar](20) NOT NULL,
	[MaSP] [varchar](20) NULL,
	[MaCTNK] [varchar](20) NULL,
	[SLHuy] [int] NULL,
	[NgayHuy] [date] NULL,
	[LyDoHuy] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangHuy] PRIMARY KEY CLUSTERED 
(
	[MaHangHuy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [varchar](20) NOT NULL,
	[MaTK] [varchar](20) NULL,
	[NgayBan] [date] NULL,
	[TongHD] [decimal](18, 0) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [varchar](20) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[SDTNCC] [varchar](15) NULL,
	[EmailNCC] [varchar](30) NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapKho]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapKho](
	[MaCTNK] [varchar](20) NOT NULL,
	[MaNCC] [varchar](20) NULL,
	[MaSP] [varchar](20) NULL,
	[SLNhap] [int] NULL,
	[DonGiaNhap] [decimal](10, 0) NULL,
	[NSX] [date] NULL,
	[HSD] [date] NULL,
 CONSTRAINT [PK_ChiTietNhapKho] PRIMARY KEY CLUSTERED 
(
	[MaCTNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](20) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[GiaBan] [decimal](10, 0) NULL,
	[SoLuongTonKho] [int] NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 22/08/2025 2:25:28 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](20) NOT NULL,
	[ChucVu] [nvarchar](10) NULL,
	[TenDN] [varchar](20) NULL,
	[MatKhau] [varchar](20) NULL,
	[HoTen] [nvarchar](30) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [SLBan], [ThanhTien], [TenKH], [SDTKH]) VALUES (N'CTHD20250507162807', N'HD20250507162706', N'SP002', 1, CAST(18000 AS Decimal(15, 0)), N'BC', N'0913881271')
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [SLBan], [ThanhTien], [TenKH], [SDTKH]) VALUES (N'CTHD20250508032059', N'HD20250508031845', N'SP001', 1, CAST(30000 AS Decimal(15, 0)), N'Đào Văn Thái', N'0988766543')
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [MaHD], [MaSP], [SLBan], [ThanhTien], [TenKH], [SDTKH]) VALUES (N'CTHD20250508032103', N'HD20250508031845', N'SP021', 1, CAST(50000 AS Decimal(15, 0)), N'Đào Văn Thái', N'0988766543')
GO
INSERT [dbo].[HangHuy] ([MaHangHuy], [MaSP], [MaCTNK], [SLHuy], [NgayHuy], [LyDoHuy]) VALUES (N'HH001', N'SP001', N'CTNK001', 5, CAST(N'2025-05-06' AS Date), N'Rơi hỏng do Đào Văn Thái')
INSERT [dbo].[HangHuy] ([MaHangHuy], [MaSP], [MaCTNK], [SLHuy], [NgayHuy], [LyDoHuy]) VALUES (N'HH002', N'SP002', N'CTNK002', 2, CAST(N'2025-05-06' AS Date), N'Mất hàng')
INSERT [dbo].[HangHuy] ([MaHangHuy], [MaSP], [MaCTNK], [SLHuy], [NgayHuy], [LyDoHuy]) VALUES (N'HH003', N'SP021', N'CTNK021', 1, CAST(N'2025-05-08' AS Date), N'Sản phẩm rách bao bì')
GO
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayBan], [TongHD]) VALUES (N'HD20250507162706', N'TK004', CAST(N'2025-05-07' AS Date), CAST(18000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayBan], [TongHD]) VALUES (N'HD20250508031845', N'TK004', CAST(N'2025-05-08' AS Date), CAST(80000 AS Decimal(18, 0)))
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayBan], [TongHD]) VALUES (N'HD20250508034022', N'TK004', CAST(N'2025-05-08' AS Date), CAST(188000 AS Decimal(18, 0)))
GO
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDTNCC], [EmailNCC]) VALUES (N'NCC001', N'Công ty Dược phẩm Pharma', N'0901123456', N'pharma@gmail.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDTNCC], [EmailNCC]) VALUES (N'NCC002', N'Công ty Dược Mekophar', N'0902678910', N'mekophar@gmail.com')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SDTNCC], [EmailNCC]) VALUES (N'NCC003', N'Công ty Dược Pymepharco', N'0912333444', N'pymepharco@gmail.com')
GO
INSERT [dbo].[NhapKho] ([MaCTNK], [MaNCC], [MaSP], [SLNhap], [DonGiaNhap], [NSX], [HSD]) VALUES (N'CTNK001', N'NCC001', N'SP001', 300, CAST(10000 AS Decimal(10, 0)), CAST(N'2024-01-10' AS Date), CAST(N'2026-01-10' AS Date))
INSERT [dbo].[NhapKho] ([MaCTNK], [MaNCC], [MaSP], [SLNhap], [DonGiaNhap], [NSX], [HSD]) VALUES (N'CTNK002', N'NCC001', N'SP002', 250, CAST(13000 AS Decimal(10, 0)), CAST(N'2024-02-15' AS Date), CAST(N'2026-02-15' AS Date))
INSERT [dbo].[NhapKho] ([MaCTNK], [MaNCC], [MaSP], [SLNhap], [DonGiaNhap], [NSX], [HSD]) VALUES (N'CTNK003', N'NCC001', N'SP003', 200, CAST(7000 AS Decimal(10, 0)), CAST(N'2024-03-01' AS Date), CAST(N'2026-03-01' AS Date))
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [SoLuongTonKho]) VALUES (N'SP001', N'Paracetamol 500mg', CAST(30000 AS Decimal(10, 0)), 333)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [SoLuongTonKho]) VALUES (N'SP002', N'Panadol Extra', CAST(18000 AS Decimal(10, 0)), 244)
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [GiaBan], [SoLuongTonKho]) VALUES (N'SP003', N'Vitamin C 500mg', CAST(10000 AS Decimal(10, 0)), 187)
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [ChucVu], [TenDN], [MatKhau], [HoTen]) VALUES (N'TK001', N'Quản lý', N'boyzk007', N'admin', N'Nguyễn Quang Hoàng')
INSERT [dbo].[TaiKhoan] ([MaTK], [ChucVu], [TenDN], [MatKhau], [HoTen]) VALUES (N'TK002', N'Nhân viên', N'thai', N'123', N'Đào Văn Thái')
INSERT [dbo].[TaiKhoan] ([MaTK], [ChucVu], [TenDN], [MatKhau], [HoTen]) VALUES (N'TK003', N'Nhân viên', N'nnson', N'123', N'Nguyễn Ngọc Sơn')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HangHuy]  WITH CHECK ADD  CONSTRAINT [FK_HangHuy_ChiTietNhapKho] FOREIGN KEY([MaCTNK])
REFERENCES [dbo].[NhapKho] ([MaCTNK])
GO
ALTER TABLE [dbo].[HangHuy] CHECK CONSTRAINT [FK_HangHuy_ChiTietNhapKho]
GO
ALTER TABLE [dbo].[HangHuy]  WITH CHECK ADD  CONSTRAINT [FK_HangHuy_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[HangHuy] CHECK CONSTRAINT [FK_HangHuy_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_TaiKhoan] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_TaiKhoan]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_NhaCungCap] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_NhaCungCap]
GO
ALTER TABLE [dbo].[NhapKho]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietNhapKho_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[NhapKho] CHECK CONSTRAINT [FK_ChiTietNhapKho_SanPham]
GO
USE [master]
GO
